<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Country Flag</title>

    <!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="/css/index.css">

	<script type="text/javascript">
		function filter(){
			var region = document.getElementById('region').value;
			var url = "";
			if(region!='none'){
				url = '/?f='+region;
			}else{
				url = '/';
			}
			window.location = url;
		}
		function search(){
			var name = document.getElementById('name').value;
			var url = "";
			if(name!=''){
				url = '/?s='+name;
			}else{
				url = '/';
			}
			window.location = url;
		}
		function cmode(){
			var element = document.body;
			element.classList.toggle("dark-mode");
			if(document.getElementById('navBar').className == "navbar navbar-light bg-light border-bottom"){
				sessionStorage.setItem("dmode", "true");
				document.getElementById('navBar').className = "navbar navbar-dark bg-dark border-bottom border-dark";
				document.getElementById('name').style.backgroundColor = "#2a2a36";
				document.getElementById('name').style.borderColor = "#2a2a36";
				document.getElementById('name').style.color = "#fff";
				document.getElementById('region').style.color = "#fff";
				document.getElementById('region').style.backgroundColor = "#2a2a36";
				document.getElementById('region').style.borderColor = "#2a2a36";
				document.getElementById('region').style.backgroundImage = "url('https://image.pngaaa.com/298/92298-small.png')";
				document.getElementById('mode').className = "btn btn-dark";
				document.getElementById('mode').color = "#fff";
				document.getElementById('moon').src = "https://www.apkmirror.com/wp-content/uploads/2020/03/5e7a6f1ddfe4b.png";
				var i=0;
				while(document.getElementsByClassName('card')[i]){
					document.getElementsByClassName('card')[i].className = "card text-white bg-dark";			
					i++;
				}
				document.getElementsByClassName('form-control border')[0].className = "form-control";
				document.getElementsByClassName('form-control border')[0].className = "form-control";	
			}else{
				sessionStorage.setItem("dmode", "false");
				document.getElementById('navBar').className = "navbar navbar-light bg-light border-bottom";
				document.getElementById('name').style.backgroundColor = "#fff";
				document.getElementById('name').style.borderColor = "#fff";
				document.getElementById('name').style.color = "#000";
				document.getElementById('region').style.color = "#000";
				document.getElementById('region').style.backgroundColor = "#fff";
				document.getElementById('region').style.borderColor = "#fff";
				document.getElementById('region').style.backgroundImage = "url('https://cdn1.iconfinder.com/data/icons/ios-11-ui-elements-vol-1/29/25_dropdown_menu_down_arrow-512.png')";
				document.getElementById('mode').className = "btn btn-light";
				document.getElementById('mode').color = "#000";
				document.getElementById('moon').src = "/images/moon.png";
				var t=document.getElementsByClassName('card text-white bg-dark').length;
				for(var i=0;i<t;i++){
					document.getElementsByClassName('card text-white bg-dark')[0].className = "card";
				}
				document.getElementsByClassName('form-control')[0].className = "form-control border";
				document.getElementsByClassName('form-control')[1].className = "form-control border";	
			}
		}

		function checkmode(){
			if(sessionStorage.getItem("dmode")=="true"){
				var element = document.body;
				element.classList.toggle("dark-mode");
				sessionStorage.setItem("dmode", "true");
				document.getElementById('navBar').className = "navbar navbar-dark bg-dark border-bottom border-dark";
				document.getElementById('name').style.backgroundColor = "#2a2a36";
				document.getElementById('name').style.borderColor = "#2a2a36";
				document.getElementById('name').style.color = "#fff";
				document.getElementById('region').style.color = "#fff";
				document.getElementById('region').style.backgroundColor = "#2a2a36";
				document.getElementById('region').style.borderColor = "#2a2a36";
				document.getElementById('region').style.backgroundImage = "url('https://image.pngaaa.com/298/92298-small.png')";
				document.getElementById('mode').className = "btn btn-dark";
				document.getElementById('mode').color = "#fff";
				document.getElementById('moon').src = "https://www.apkmirror.com/wp-content/uploads/2020/03/5e7a6f1ddfe4b.png";
				var i=0;
				while(document.getElementsByClassName('card')[i]){
					document.getElementsByClassName('card')[i].className = "card text-white bg-dark";			
					i++;
				}
				document.getElementsByClassName('form-control border')[0].className = "form-control";
				document.getElementsByClassName('form-control border')[0].className = "form-control";	
			}
		}
	</script>

</head>
<body onload="checkmode()">
	<nav class="navbar navbar-light bg-light border-bottom" id="navBar">
	  <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Where in the world?</span>
	  <span><button onclick="cmode()" class="btn btn-light" id="mode"><img src="/images/moon.png" alt="" style="width: 15px;" id="moon">	Dark Mode</button></span>
	</nav>
	<div class="container-fluid">
		<%if(typeof error != 'undefined'){%>
			<p><%=error%></p>
			<p>Back to <a href="/">Home Page</a></p>
		<%}else{%>
			<form style="display: block; margin-left: 65px; margin-right: 65px;margin-top: 20px;margin-bottom: 0px;">
				<div class="row">
				  	<div class="form-group col-12 col-md-5">
				    	<input type="text" class="form-control border" id="name" placeholder="Search for a country..." onblur="search()">
				  	</div>
				  	<div class="form-group col-12 col-md-4"></div>
				  	<div class="form-group col-12 col-md-3" style="float: right;">
				    	<select class="form-control border" id="region" name="region" onchange="filter()">
				      		<option value="" disabled selected hidden>Filter by Region</option>
						  	<option value="none">No Filter</option>
						  	<option value="Africa">Africa</option>
						  	<option value="Americas">America</option>
						  	<option value="Asia">Asia</option>
						  	<option value="Europe">Europe</option>
						  	<option value="Oceania">Oceania</option>
				    	</select>
				  	</div>
				</div>
			</form>
			<div class="row">
				<div class="card-deck" style="margin: 50px;">
					<% var i=0;%>
					<%while(data[i]){%>
		  				<div class="col-sm-6 col-md-3" style="margin-bottom: 60px;">
						  	<a style="text-decoration: none;color: black;" href="/display/?name=<%=data[i]['name']%>">
						  		<div class="card">
							    <img src="<%=data[i]['flag']%>" class="card-img-top" alt="flag">
							    <div class="card-body">
							      	<h5 class="card-title"><%=data[i]['name']%></h5>
							      	<p class="card-text">Population: <%=data[i]['population']%></p>
							      	<p class="card-text">Region: <%=data[i]['region']%></p>
							      	<p class="card-text">Capital: <%=data[i]['capital']%></p>
							    </div>
						  		</div>
						  	</a>
						  	<%i++;%>
						</div>
					<%}%>
				</div>
			</div>
		<%}%>
	</div>
</body>